---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ScrollText from "../components/ScrollText";
import HowWeWork from "../components/HowWeWork.astro";
import desktopScreen1 from "../assets/desktop-group-1.png";
import JoinWaitList from "../components/JoinWaitList";

import ap1 from "../assets/ap-1.svg";
import ap2 from "../assets/ap-2.svg";
import ap3 from "../assets/ap-3.svg";

const SCROLL_TEXT = `We get you, recruitment is broken. You're applying to tonnes of roles, just to be ghosted and rejected.
We believe recruitment should be effortless and enjoyable. We've got your back. Let's fix this together!`;

const WHY_CHOSE_USE = [
	{
		title: "No cover letters, no resumes",
		description: "Simply connect with your LinkedIn profile",
		image: ap1,
	},
	{
		title: "Buddy AI does the matching",
		description: "We find suitable positions for you based off your true value",
		image: ap2,
	},
	{
		title: "Land the ideal job",
		description: "Companies initiate connect with you",
		image: ap3,
	},
];
---

<Layout title="Hiring Buddy.">
	<main>
		<section class="pt-20 bg-white">
			<div class="container mx-auto">
				<h1 class="text-center mb-6">
					The hiring experience <br /> you'll <span>love</span>
				</h1>

				<p class="text-center mb-10">
					Hiring buddy understands your strengths and <br /> drivers to connect you
					with a workspace to thrive in!
				</p>
			</div>

			<div class="text-center">
				<JoinWaitList />
			</div>

			<div class="flex justify-center -mb-48">
				<Image
					src={desktopScreen1}
					width={1300}
					aspectRatio="16:9"
					alt={"Desktop screen 1"}
				/>
			</div>
		</section>

		<section class="bg-white relative z-10 pt-20 pb-32">
			<div class="container mx-auto">
				<div class="grid grid-cols-3">
					{
						WHY_CHOSE_USE.map((item) => (
							<div class="flex justify-center">
								<div class="flex flex-col justify-center items-center text-center" style="max-width: 256px">
									<img
										src={item.image.src}
										width={item.image.width}
										height={item.image.height}
										class="mb-5"
									/>
									<h3 class="font-bold mb-3 text-base">{item.title}</h3>
									<p class="font-base">{item.description}</p>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</section>

		<section class="bg-white">
			<div class="container mx-auto">
				<ScrollText text={SCROLL_TEXT} />
			</div>
		</section>

		<section class="bg-liner">
			<div class="container mx-auto">
				<HowWeWork />
			</div>
		</section>

		<section class="bg-white">
			<div class="container text-center mx-auto py-40">
				<div class="max-w-xl mx-auto">
					<p class="text-3xl mb-10">
						Please register your interest for early access to HiringBuddy beta
						community.
					</p>

					<JoinWaitList />
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
