---
import JoinWaitList from "../components/JoinWaitList";
import logoFull from "../assets/logoFull.svg";

const links = [
  {
    href: "/our-story",
    label: "Our Story",
  },
  {
    href: "/our-team",
    label: "Team",
  },
  {
    href: "/client",
    label: "Client",
  },
];
---

<header class="bg-white shadow-md relative z-10 py-3">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <div class="flex">
        <div class="mr-20 p-3" style="width: 153px">
          <a href="/">
            <img
              src={logoFull.src}
              width={logoFull.width}
              height={logoFull.height}
              alt="Hiring Buddy."
            />
          </a>
        </div>

        <nav class="hidden md:inline-flex">
          {
            links.map((link) => (
              <a
                class="inline-flex justify-center items-center mr-6 text-boulder text-sm"
                href={link.href}
              >
                {link.label}
              </a>
            ))
          }
        </nav>
      </div>

      <JoinWaitList className="hidden md:block"/>
    </div>
  </div>
</header>
