---
import { Image } from "astro:assets";
import screen1 from "../assets/screen-1.png";
import screen2 from "../assets/screen-2.png";
import screen3 from "../assets/screen-3.png";
import screen4 from "../assets/screen-4.png";
import HowWeWorkItem from "./HowWeWorkItem";

const WHAT_WE_DO = [
  {
    title: "We get to <span class='highlight'>know you</span>",
    content: "5 mins vibe finder questionnaire to learn about you",
    subContent: "HiringBuddy proprietary framework",
    image: screen1,
    video: "/videos/HiringBuddy - Frame 1.mp4",
  },
  {
    title: "We show your <span class='highlight'>true value</span>",
    content:
      "Immediate access to your strengths, differentiators and ideal working environments",
    subContent: "",
    image: screen2,
    video: "/videos/desktop-screen-1.mp4",
  },
  {
    title:
      "<span class='text-primary'>HiringBuddy</span> does the matching <span class='highlight'>instantly</span>",
    content: "Buddy AI will deep-dive to find the right roles for you",
    subContent: "",
    image: screen3,
    video: "/videos/HiringBuddy - Frame 4.mp4",
    video2: "/videos/HiringBuddy - Frame 3.mp4",
  },
  {
    title: "Land your <span class='highlight'>ideal job</span>",
    content: "No waiting for weeks or months - get hired in days",
    subContent: "",
    image: screen4,
    video: "/videos/HiringBuddy - Frame 4.mp4",
    video2: "/videos/HiringBuddy - Frame 3.mp4",
  },
];
---

<div class="py-4">
  <div
    class="bgLiner md:rounded-tl-[12rem] md:rounded-br-[12rem] rounded-tl-[4rem] rounded-br-[4rem]"
  >
    <div
      class="container mx-auto min-h-screen md:pt-40 md:pb-40 pt-20 pb-20 text-primaryDark"
    >
      <h3 class="text-center md:mb-6 mb-4 md:text-2xl text-lg">
        The scientific approach
      </h3>
      <h2 class="text-center md:text-6xl text-4xl font-bold md:mb-24 mb-8">
        How HiringBuddy works
      </h2>

      <div>
        {
          WHAT_WE_DO.map((item, index) => (
            <HowWeWorkItem
              client:load
              title={item.title}
              content={item.content}
              subContent={item.subContent}
              image={item.image.src}
              index={index + 1}
              video={item.video}
              video2={item.video2}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>

<style is:global>
  .bgLiner {
    background: linear-gradient(
      177deg,
      rgba(218.45, 209.31, 255, 0.2) 0%,
      rgba(159, 190, 250, 0.2) 90%,
      rgba(0, 86.87, 255, 0.2) 100%
    );
    box-shadow: -5px 0px 20px #00000015, 5px 0px 20px #00000015;
  }
  .borderOpacity {
    @apply relative;
    background-color: rgba(167, 180, 209, 0.3);
  }

  .content {
    @apply rounded-full bg-primary inline-flex justify-center items-center;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }
</style>
