---
import screen1 from "../assets/client-screen1.png";
import screen2 from "../assets/client-screen2.png";
import screen3 from "../assets/client-screen3.png";
import screen4 from "../assets/client-screen4.png";
import BookDemo from "./BookDemo";
import HowWeWorkItem from "./HowWeWorkItem";

const WHAT_WE_DO = [
  {
    title: "We co-create your <span class='highlight'>ideal</span> candidate profile",
    content: "5 mins questionnaire to understand your team’s unique needs using our proprietary science backed approach",
    subContent: "",
    image: screen1,
    video: "",
    videoAutoplay: true,
    video2Autoplay: true,
  },
  {
    title: "<span class='text-primary'>Buddy AI</span> does the matching <span class='highlight'>instantly</span>",
    content:
      "Real time access to top 5 shortlisted candidates",
    subContent: "",
    image: screen2,
    video: "",
    videoAutoplay: true,
    video2Autoplay: true,
  },
  {
    title:
      "Get a <span class='highlight'>360&deg; view</span> of candidates",
    content: "Immediate access to candidate’s strengths, differentiators and ideal working environments. You’re ready to initiate contact.",
    subContent: "",
    image: screen3,
    video: "",
    video2: "",
    videoAutoplay: false,
    video2Autoplay: true,
  },
  {
    title: "Hire within <span class='highlight'>days!</span>",
    content: "No waiting for weeks or months - hire engaged talent faster than ever.",
    subContent: "",
    image: screen4,
    video: "",
    video2: "",
    videoAutoplay: true,
    video2Autoplay: false,
  },
];
---

<div class="py-4">
  <div
    class="bgLiner md:rounded-tl-[12rem] md:rounded-br-[12rem] rounded-tl-[4rem] rounded-br-[4rem]"
  >
    <div
      class="container mx-auto min-h-screen md:pt-40 md:pb-40 pt-20 pb-20 text-primaryDark"
    >
      <h3 class="text-center md:mb-6 mb-4 md:text-2xl text-lg">
        The scientific approach
      </h3>
      <h2 class="text-center md:text-6xl text-4xl font-bold md:mb-24 mb-8">
        How HiringBuddy works
      </h2>

      <div>
        {
          WHAT_WE_DO.map((item, index) => (
            <HowWeWorkItem
              client:load
              title={item.title}
              content={item.content}
              subContent={item.subContent}
              image={item.image.src}
              index={index + 1}
              video={item.video}
              video2={item.video2}
              videoAutoplay={item.videoAutoplay}
              video2Autoplay={item.video2Autoplay}
              singleColumn
            />
          ))
        }
      </div>

			<div class="text-center">
        <BookDemo client:load className="mb-3" />
      </div>
    </div>
  </div>
</div>

<style is:global>
  .bgLiner {
    background: linear-gradient(
      177deg,
      rgba(218.45, 209.31, 255, 0.2) 0%,
      rgba(159, 190, 250, 0.2) 90%,
      rgba(0, 86.87, 255, 0.2) 100%
    );
    box-shadow: -5px 0px 20px #00000015, 5px 0px 20px #00000015;
  }
  .borderOpacity {
    @apply relative;
    background-color: rgba(167, 180, 209, 0.3);
  }

  .content {
    @apply rounded-full bg-primary inline-flex justify-center items-center;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }
</style>
