---
import { Image } from "astro:assets";
import screen1 from "../assets/screen-1.png";
import screen2 from "../assets/screen-2.png";
import screen3 from "../assets/screen-3.png";
import screen4 from "../assets/screen-4.png";

const WHAT_WE_DO = [
  {
    title: "We get to know you",
    content: "5 mins simple questionnaire to learn about you",
    subContent: "HiringBuddy proprietary framework",
    image: screen1,
  },
  {
    title: "We show your true value",
    content:
      "Immediate access to your strengths, differentiators and ideal working environments",
    subContent: "",
    image: screen2,
  },
  {
    title: "HiringBuddy does the matching instantly",
    content:
      "No resumes, no applications - companies will start the conversation with you",
    subContent: "",
    image: screen3,
  },
  {
    title: "Land your ideal job",
    content: "No waiting for weeks or months - get hired in days",
    subContent: "",
    image: screen4,
  },
];
---

<div class="bgLiner">
  <div class="container mx-auto min-h-screen pt-40 pb-40 text-primaryDark">
    <h3 class="text-center mb-6">The scientific approach</h3>
    <h2 class="text-center md:text-6xl text-4xl font-bold mb-24">How HiringBuddy works</h2>

    <div>
      {
        WHAT_WE_DO.map((item, index) => (
          <div class="grid md:grid-cols-2 md:py-6 py-12">
            <div class="flex flex-col justify-center mb-[50px] md:mb-0">
              <p class="text-center text-4xl font-bold text-white mb-4">
                <span class="borderOpacity inline-flex justify-center items-center bg-primary w-16 h-16 rounded-full">
                  {index + 1}
                </span>
              </p>

              <div class="max-w-md mx-auto text-center md:text-left">
                <h3 class="md:text-4xl text-3xl font-bold mb-4">{item.title}</h3>
                <p class="text-2xl mb-2 text-navyBlue">{item.content}</p>
                <p class="text-xl opacity-50">{item.subContent}</p>
              </div>
            </div>

            <div>
              <Image
                src={item.image}
                width={1200}
                aspectRatio="16:9"
                alt={item.title}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .bgLiner {
    background: linear-gradient(177deg, rgba(218.45, 209.31, 255, 0.20) 0%, rgba(159, 190, 250, 0.20) 90%, rgba(0, 86.87, 255, 0.20) 100%);
  }
  .borderOpacity {
    @apply relative;
  }

  .borderOpacity::before {
    @apply rounded-full;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    background-color: rgba(167, 180, 209, 0.3);
    z-index: -1;
  }
</style>
